@model  TheCreation_Manager.Models.ManagerIndexViewModel

@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <title>
        欢迎界面
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link href="~/Layui1/css/main.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Layui1/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>

    @*<link href="~/CSS/Test/main.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>*@
    @*<link rel="stylesheet" href="css/main.css" media="all">
        <link rel="stylesheet" href="css/bootstrap.css" media="all">
        <link rel="stylesheet" type="text/css" href="css/layui.css" />
        <script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>*@
</head>
<body>
    <style type="text/css">
        legend {
            display: block;
            width: 100px;
            border-bottom: 0px;
            font-family: "Microsoft YaHei", "Helvetica Neue";
        }

            legend a {
                color: #666;
            }

                legend a:hover {
                    text-decoration: none;
                }

        .layui-table {
            font-family: "Microsoft YaHei", "Helvetica Neue";
        }

        <canvas width="446" height="472" data-zr-dom-id="zr_0" style="position: absolute; left: 0px; top: 0px; width: 331px; height: 350px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;" > </canvas >
        }
    </style>
    <div class="x-body">
        <blockquote class="layui-elem-quote">
            欢迎使用创世界后台管理系统！<span class="f-14">v1.0</span> &nbsp;&nbsp;登录次数：520
        </blockquote>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3">
                <section class="panel">
                    <div class="symbol bgcolor-blue">
                        <i class=" iconfont icon-dashaxiaoqudizhi01"></i>
                    </div>
                    <div class="value tab-menu" bind="1">
                        <a href="javascript:;" data-url="user-info.html" data-parent="true" data-title="作品总数">
                            <i class="iconfont "
                               data-icon=""></i>
                            <h1>@Model.tot_work</h1>
                        </a>

                        <a href="javascript:;" data-url="user-info.html" data-parent="true" data-title="作品总数">
                            <i class="iconfont "
                               data-icon=""></i><span>作品总数</span>
                        </a>

                    </div>
                </section>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
                <section class="panel">
                    <div class="symbol bgcolor-commred">
                        <i class="iconfont icon-lvhuaxiaoqu"></i>
                    </div>
                    <div class="value tab-menu" bind="1">
                        <a href="javascript:;" data-url="user-info.html" data-parent="true" data-title="订单总数">
                            <i class="iconfont "
                               data-icon=""></i>
                            <h1>@Model.tot_order</h1>
                        </a>

                        <a href="javascript:;" data-url="user-info.html" data-parent="true" data-title="订单总数">
                            <i class="iconfont "
                               data-icon=""></i><span>订单总数</span>
                        </a>

                    </div>
                </section>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3">
                <section class="panel">
                    <div class="symbol bgcolor-dark-green">
                        <i class="iconfont icon-yezhuxian"></i>
                    </div>
                    <div class="value tab-menu" bind="1">
                        <a href="javascript:;" data-url="user-info.html" data-parent="true" data-title="创作者数">
                            <i class="iconfont "
                               data-icon=""></i>
                            <h1>@Model.tot_creator</h1>
                        </a>
                        <a href="javascript:;" data-url="user-info.html" data-parent="true" data-title="创作者数">
                            <i class="iconfont "
                               data-icon=""></i><span>创作者数</span>
                        </a>
                    </div>
                </section>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3">
                <section class="panel">
                    <div class="symbol bgcolor-yellow-green">
                        <i class="layui-icon" style="top: 3px;"></i>
                    </div>
                    <div class="value tab-menu" bind="1">
                        <a href="javascript:;" data-url="user-info.html" data-parent="true" data-title="用户数">
                            <i class="iconfont "
                               data-icon=""></i>
                            <h1>@Model.tot_user</h1>
                        </a>
                        <a href="javascript:;" data-url="user-info.html" data-parent="true" data-title="用户数">
                            <i class="iconfont "
                               data-icon=""></i><span>用户数</span>
                        </a>
                    </div>
                </section>
            </div>

        </div>

        <fieldset class="layui-elem-field layui-field-title site-title">
            <legend><a name="default">信息统计</a></legend>
        </fieldset>

        <!--相关统计-->
        <div class="row">
            <div class="col-sm-4">
                <section class="panel">
                    <div class="panel-heading">创客人数</div>
                    <div class="panel-body">
                        <div class="echarts" id="area" style="height: 350px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;"
                             _echarts_instance_="ec_1616466527937">
                            <div style="position: relative; overflow: hidden; width: 331px; height: 350px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;">
                                <canvas width="446" height="472" data-zr-dom-id="zr_0" style="position: absolute; left: 0px; top: 0px; width: 331px; height: 350px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                            </div>
                            <div style="position: absolute; display: none; border-style: solid; white-space: nowrap; z-index: 9999999; transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s; background-color: rgba(50, 50, 50, 0.7); border-width: 0px; border-color: rgb(51, 51, 51); border-radius: 4px; color: rgb(255, 255, 255); font: 14px / 21px &quot;Microsoft: YaHei&quot; padding: 5px; left: 89px; top: 235px;">
                                小区租户人数
                                <br>E区 : 9310 (36.4%)
                            </div>
                        </div>
                    </div>

                </section>
            </div>
            <div class="col-sm-4">
                <section class="panel">
                    <div class="panel-heading">投诉/满意度</div>
                    <div class="panel-body">
                        <div class="echarts" id="main" style="height: 350px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;"
                             _echarts_instance_="ec_1616466527936">
                            <div style="position: relative; overflow: hidden; width: 331px; height: 350px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;">
                                <canvas width="446" height="472" data-zr-dom-id="zr_0" style="position: absolute; left: 0px; top: 0px; width: 331px; height: 350px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                            </div>
                            <div style="position: absolute; display: none; border-style: solid; white-space: nowrap; z-index: 9999999; transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s; background-color: rgba(50, 50, 50, 0.7); border-width: 0px; border-color: rgb(51, 51, 51); border-radius: 4px; color: rgb(255, 255, 255); font: 14px / 21px &quot;Microsoft: YaHei&quot; padding: 5px; left: 51.5808px; top: 139px;">
                                <div>2020-03-025 undefined<br>投诉（次）：50<br>业主满意度：90%</div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-4">
                <section class="panel">
                    <div class="panel-heading">平台作品</div>
                    <div class="panel-body">
                        <div class="echarts" id="years" style="height: 350px; -webkit-tap-highlight-color: transparent; user-select: none; background: transparent;"
                             _echarts_instance_="ec_1616466527938">
                            <div style="position: relative; overflow: hidden; width: 400px; height: 350px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;">
                                <canvas width="539" height="472" data-zr-dom-id="zr_0" style="position: absolute; left: 0px; top: 0px; width: 400px; height: 350px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-4">
                <section class="panel">
                    <div class="panel-heading">最新用户</div>
                    <div class="panel-body">
                        <ul class="list-group clear-list m-t">
                            @foreach (var item in Model.newes_10_users.Take(1))
                            {
                                <li class="list-group-item fist-item">
                                    <span class="float-right"> @item.RegisteDate </span> <span class="label label-success">1</span>
                                    @item.UsersName
                                </li>
                            }
                            @foreach (var item in Model.newes_10_users.Skip(1).Take(1))
                            {
                                <li class="list-group-item">
                                    <span class="float-right"> @item.RegisteDate </span> <span class="label label-info">2</span>
                                    @item.UsersName
                                </li>
                            }
                            @foreach (var item in Model.newes_10_users.Skip(2).Take(1))
                            {
                                <li class="list-group-item">
                                    <span class="float-right"> @item.RegisteDate </span> <span class="label label-primary">3</span>
                                    @item.UsersName
                                </li>
                            }
                            @foreach (var item in Model.newes_10_users.Skip(3))
                            {
                                <li class="list-group-item">
                                    <span class="float-right"> @item.RegisteDate </span> <span class="label label-warning">@(Model.newes_10_users.ToList().IndexOf(item)+1)</span>
                                    @item.UsersName
                                </li>
                            }
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-sm-4">
                <section class="panel">
                    <div class="panel-heading">最新订单</div>
                    <div class="panel-body">
                        <ul class="list-group clear-list m-t">
                            @foreach (var item in Model.newest_10_order.Take(1))
                            {
                                if (item.OrderState == "待接受    ")
                                {
                                    <li class="list-group-item">
                                        <span class="float-right"> @item.BuyDate.ToShortDateString() &nbsp;<b style="color: lightcoral">@item.OrderState</b></span>
                                        <span class="label label-danger">@(Model.newest_10_order.ToList().IndexOf(item)+1)</span> @item.Name
                                    </li>
                                }
                                else if (item.OrderState == "完美交付  ")
                                {
                                    <li class="list-group-item">
                                        <span class="float-right"> @item.BuyDate.ToShortDateString() &nbsp;<b style="color: rebeccapurple">@item.OrderState</b></span>
                                        <span class="label label-danger">@(Model.newest_10_order.ToList().IndexOf(item)+1)</span> @item.Name
                                    </li>
                                }
                                else
                                {
                                    <li class="list-group-item">
                                        <span class="float-right"> @item.BuyDate.ToShortDateString() &nbsp;<b style="color: lightseagreen">@item.OrderState</b></span>
                                        <span class="label label-danger">@(Model.newest_10_order.ToList().IndexOf(item)+1)</span> @item.Name
                                    </li>
                                }
                            }
                            @foreach (var item in Model.newest_10_order.Skip(1).Take(1))
                            {
                                if (item.OrderState == "待接受    ")
                                {
                                    <li class="list-group-item">
                                        <span class="float-right"> @item.BuyDate.ToShortDateString() &nbsp;<b style="color: lightcoral">@item.OrderState</b></span>
                                        <span class="label label-info">@(Model.newest_10_order.ToList().IndexOf(item)+1)</span> @item.Name
                                    </li>
                                }
                                else if (item.OrderState == "完美交付  ")
                                {
                                    <li class="list-group-item">
                                        <span class="float-right"> @item.BuyDate.ToShortDateString() &nbsp;<b style="color: rebeccapurple">@item.OrderState</b></span>
                                        <span class="label label-info">@(Model.newest_10_order.ToList().IndexOf(item)+1)</span> @item.Name
                                    </li>
                                }
                                else
                                {
                                    <li class="list-group-item">
                                        <span class="float-right"> @item.BuyDate.ToShortDateString() &nbsp;<b style="color: lightseagreen">@item.OrderState</b></span>
                                        <span class="label label-info">@(Model.newest_10_order.ToList().IndexOf(item)+1)</span> @item.Name
                                    </li>
                                }
                            }
                            @foreach (var item in Model.newest_10_order.Skip(2).Take(1))
                            {
                                if (item.OrderState == "待接受    ")
                                {
                                    <li class="list-group-item">
                                        <span class="float-right"> @item.BuyDate.ToShortDateString() &nbsp;<b style="color: lightcoral">@item.OrderState</b></span>
                                        <span class="label label-warning">@(Model.newest_10_order.ToList().IndexOf(item)+1)</span> @item.Name
                                    </li>
                                }
                                else if (item.OrderState == "完美交付  ")
                                {
                                    <li class="list-group-item">
                                        <span class="float-right"> @item.BuyDate.ToShortDateString() &nbsp;<b style="color: rebeccapurple">@item.OrderState</b></span>
                                        <span class="label label-warning">@(Model.newest_10_order.ToList().IndexOf(item)+1)</span> @item.Name
                                    </li>
                                }
                                else
                                {
                                    <li class="list-group-item">
                                        <span class="float-right"> @item.BuyDate.ToShortDateString() &nbsp;<b style="color: lightseagreen">@item.OrderState</b></span>
                                        <span class="label label-warning">@(Model.newest_10_order.ToList().IndexOf(item)+1)</span> @item.Name
                                    </li>
                                }
                            }
                            @foreach (var item in Model.newest_10_order.Skip(3))
                            {
                                if (item.OrderState == "待接受    ")
                                {
                                    <li class="list-group-item">
                                        <span class="float-right"> @item.BuyDate.ToShortDateString() &nbsp;<b style="color: lightcoral">@item.OrderState</b></span>
                                        <span class="label label-default">@(Model.newest_10_order.ToList().IndexOf(item)+1)</span> @item.Name
                                    </li>
                                }
                                else if (item.OrderState == "完美交付  ")
                                {
                                    <li class="list-group-item">
                                        <span class="float-right"> @item.BuyDate.ToShortDateString() &nbsp;<b style="color: rebeccapurple">@item.OrderState</b></span>
                                        <span class="label label-default">@(Model.newest_10_order.ToList().IndexOf(item)+1)</span> @item.Name
                                    </li>
                                }
                                else
                                {
                                    <li class="list-group-item">
                                        <span class="float-right"> @item.BuyDate.ToShortDateString() &nbsp;<b style="color: lightseagreen">@item.OrderState</b></span>
                                        <span class="label label-default">@(Model.newest_10_order.ToList().IndexOf(item)+1)</span> @item.Name
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-sm-4">
                <section class="panel">
                    <div class="panel-heading">系统信息</div>
                    <div class="layui-card">

                        <div class="layui-card-body ">

                            <table class="layui-table">
                                <thead>
                                    <tr>
                                        <th colspan="4" scope="col">服务器信息</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>服务器计算机名</th>
                                        <td><span id="lbServerName">http://127.0.0.1/</span></td>

                                    </tr>
                                    <tr>
                                        <td>服务器IP地址</td>
                                        <td>192.168.1.1</td>
                                    </tr>
                                    <tr>
                                        <td>服务器域名</td>
                                        <td>www.xxx.net</td>

                                    </tr>
                                    <tr>
                                        <td>服务器端口 </td>
                                        <td>80</td>
                                    </tr>
                                    <tr>
                                        <td>服务器IIS版本 </td>
                                        <td>Microsoft-IIS/6.0</td>

                                    </tr>
                                    <tr>
                                        <td>本文件所在文件夹 </td>
                                        <td>D:\WebSite\</td>
                                    </tr>
                                    <tr>
                                        <td>服务器操作系统 </td>
                                        <td>Microsoft Windows NT 5.2.3790 Service Pack 2</td>

                                    </tr>
                                    <tr>
                                        <td>系统所在文件夹 </td>
                                        <td>C:\WINDOWS\system32</td>
                                    </tr>
                                    <tr>
                                        <td>服务器脚本超时时间 </td>
                                        <td>30000秒</td>

                                    </tr>
                                    <tr>
                                        <td>服务器的语言种类 </td>
                                        <td>Chinese (People's Republic of China)</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>

            </div>

            @*@ViewBag.p1
            <br />
            @Html.Raw(@ViewBag.p1)
            <br />
            @Html.Raw(@ViewBag.p3)*@
        </div>
        <script src="~/Layui1/layui/layui.js"></script>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        @*<script src="js/layui.js" charset="utf-8"></script>
            <script src="js/jquery.min.js"></script>*@
        <!-- <script src="js/echarts.min.js"></script> -->
        <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>

        <script type="text/javascript">
            
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));

            // 指定图表的配置项和数据   2020-03-025

            let date = '@Html.Raw(DateTime.Now.Date)';
            option = {
                tooltip: {
                    trigger: 'axis',
                    formatter(params) {
                        return `<div>${date} ${params[0].axisValue}<br/>${params[0].seriesName}：${params[0].value}<br/>${params[1].seriesName}：${params[1].value}%</div>`
                    }
                },
                legend: {
                    color: ["#13C7F2", "#F9CE81"],
                    data: ['投诉（次）', '业主满意度'],
                    icon: 'rect',
                    itemWidth: 18,
                    itemHeight: 2,
                    itemGap: 13,
                    right: '4%',
                    textStyle: {
                        fontSize: 12,
                        color: '#23b7e5'
                    }
                },
                grid: {
                    top: 'middle',
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    height: '80%',
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
                    axisLine: {
                        lineStyle: {
                            color: "#23b7e5",
                        }
                    },
                    axisLabel: {
                        color: '#23b7e5',
                        fontWeight: 'bold'
                    },
                    axisTick: {
                        show: false,
                    },
                    axisPointer: {
                        lineStyle: {
                            color: '#D11F1F'
                        }
                    },
                },
                yAxis: {
                    type: 'value',
                    splitLine: {
                        lineStyle: {
                            type: 'solid',
                            color: '#23b7e5',
                            width: 2
                        }
                    },
                    axisTick: {
                        show: false,
                    },
                    axisLine: {
                        show: false,
                        lineStyle: {
                            color: "#23b7e5",
                        },
                    },
                    axisLabel: {
                        formatter: '{value}%',
                        fontWeight: 'bold'
                    },
                    splitArea: {
                        show: false
                    },
                },
                series: [{
                    name: '投诉（次）',
                    type: 'line',
                    symbol: 'none',
                    data: [{
                        value: 10,
                        symbolSize: 10,
                        symbol: 'emptyCircle'
                    }, 20, 45, 15, {
                        value: 90,
                        symbolSize: 10,
                        symbol: 'emptyCircle'
                    }, 20, 10, 80, 50, {
                        value: 100,
                        symbolSize: 10,
                        symbol: 'emptyCircle'
                    }, 10, {
                        value: 40,
                        symbolSize: 10,
                        symbol: 'emptyCircle'
                    }],
                    color: "#13C7F2",
                    lineStyle: {
                        normal: {
                            width: 2.5,
                            color: '#13C7F2',
                        }
                    },
                    hoverAnimation: false,
                    smooth: true,
                }, {
                    name: '业主满意度',
                    type: 'line',
                    symbol: 'none',
                    data: [{
                        value: 20,
                        symbolSize: 10,
                        symbol: 'emptyCircle'
                    }, 30, 70, 10, {
                        value: 50,
                        symbolSize: 10,
                        symbol: 'emptyCircle'
                    }, 100, 50, 20, 90, {
                        value: 30,
                        symbolSize: 10,
                        symbol: 'emptyCircle'
                    }, 50, {
                        value: 90,
                        symbolSize: 10,
                        symbol: 'emptyCircle'
                    }],
                    color: "#F9CE81",
                    lineStyle: {
                        normal: {
                            width: 2.5,
                            color: '#F9CE81',
                        }
                    },
                    hoverAnimation: false,
                    smooth: true,
                }]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        </script>
        <script type="text/javascript">
            // 指定图表的配置项和数据
            var myChart = echarts.init(document.getElementById('area'));

            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: '创客类型统计',
                    subtext: '（人）',
                    x: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                itemStyle: {

                    normal: {

                        //好，这里就是重头戏了，定义一个list，然后根据所以取得不同的值，这样就实现了，

                        color: function (params) {

                            // build a color map as your need.

                            var colorList = [

                                '#27C24C', '#F05050', '#23b7e5', '#7266ba', '#18bc9c',

                                '#FE8463', '#9BCA63', '#FAD860', '#F3A43B', '#60C0DD',

                                '#D7504B', '#C6E579', '#F4E001', '#F0805A', '#26C0C0'

                            ];

                            return colorList[params.dataIndex]

                        },

                        //以下为是否显示，显示位置和显示格式的设置了

                        label: {

                            show: true,

                            position: 'top',

                            //                             formatter: '{c}'

                            formatter: '{b}\n{c}'

                        }

                    }

                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: ['视频制作', '自创视频', '摄像', '摄影', '诗歌', '漫画', '音乐','文字','视频']
                    /*data: ['A区', 'B区', 'C区', 'D区', 'E区']*/
                },
                series: [{
                    name: '各创作类型人数',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: @Html.Raw(@ViewBag.p1),
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
            myChart.currentIndex = -1;
            setInterval(function () {
                var dataLen = option.series[0].data.length;
                /*console.log(dataLen);*/
                // 取消之前高亮的图形
                myChart.dispatchAction({
                    type: 'downplay',
                    seriesIndex: 0,
                    dataIndex: myChart.currentIndex
                });
                myChart.currentIndex = (myChart.currentIndex + 1) % dataLen;
                // 高亮当前图形
                myChart.dispatchAction({
                    type: 'highlight',
                    seriesIndex: 0,
                    dataIndex: myChart.currentIndex
                });
            }, 1000);

            // 使用刚指定的配置项和数据显示图表。
            /*myChart.setOption(option);*/
            window.addEventListener("resize", function () {
                myChart.resize();
            });
        </script>
        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('years'));



            //var myChart = echarts.init(document.getElementById('chart2'));

            var ydata =@Html.Raw(@ViewBag.p3);
            //var ydata = [{
            //    name: 'A区车位',
            //    value: 18
            //},
            //{
            //    name: 'B区车位',
            //    value: 16
            //},
            //{
            //    name: 'C区车位',
            //    value: 15
            //},
            //{
            //    name: 'D区车位',
            //    value: 14
            //},
            //{
            //    name: 'E区车位',
            //    value: 10
            //}
            //];
            var color = ["#8d7fec", "#5085f2", "#e75fc3", "#f87be2", "#f2719a", "#fca4bb", "#f59a8f", "#fdb301", "#57e7ec",
                "#cf9ef1"
            ]
            var xdata = ['图片', "音乐", "视频", "文字"];


            option = {
                /*backgroundColor: "rgba(255,255,255,1)",*/
                color: color,
                legend: {
                    orient: "vartical",
                    x: "left",
                    top: "center",
                    left: "53%",
                    bottom: "0%",
                    data: xdata,
                    itemWidth: 8,
                    itemHeight: 8,
                    textStyle: {
                        color: '#000'
                    },

                    formatter: function (name) {
                        return '' + name
                    }
                },
                series: [{
                    type: 'pie',
                    clockwise: false, //饼图的扇区是否是顺时针排布
                    minAngle: 2, //最小的扇区角度（0 ~ 360）
                    radius: ["20%", "60%"],
                    center: ["30%", "45%"],
                    avoidLabelOverlap: false,
                    itemStyle: { //图形样式
                        normal: {
                            borderColor: '#ffffff',
                            borderWidth: 1,
                        },
                    },
                    label: {
                        normal: {
                            show: false,
                            position: 'center',
                            formatter: '{b}\n{c} ({d}%)',
                            rich: {
                                text: {
                                    color: "#fff",
                                    fontSize: 12,
                                    align: 'center',
                                    verticalAlign: 'middle',
                                    padding: 10
                                },
                                value: {
                                    color: "#8693F3",
                                    fontSize: 24,
                                    align: 'center',
                                    verticalAlign: 'middle',
                                },
                            }
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: 20,
                            }
                        }
                    },
                    data: ydata
                }]
            };
            myChart.setOption(option);
            myChart.currentIndex = -1;

            setInterval(function () {
                var dataLen = option.series[0].data.length;
                // 取消之前高亮的图形
                myChart.dispatchAction({
                    type: 'downplay',
                    seriesIndex: 0,
                    dataIndex: myChart.currentIndex
                });
                myChart.currentIndex = (myChart.currentIndex + 1) % dataLen;
                // 高亮当前图形
                myChart.dispatchAction({
                    type: 'highlight',
                    seriesIndex: 0,
                    dataIndex: myChart.currentIndex
                });
            }, 1000);

            // 使用刚指定的配置项和数据显示图表。
            /*myChart.setOption(option);*/
            window.addEventListener("resize", function () {
                myChart.resize();
            });
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        </script>


    </div>
    <div class="layui-footer footer footer-demo">
        <div class="layui-main">
            <p>
                <a href="/">
                    Copyright ©2021 TheCreation.com All Rights Reserved.
                </a>
            </p>

        </div>
    </div>


</body>
</html>

